/* RESET */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width:100%;
    display: block;
}


/* COMMON PARTS */
body {
    font-family: 'Roboto', sans-serif;   
}

.container {
    width:1024px;
    margin:auto;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float:left;
}

ul {
    list-style-type: none;    
}

.col li {
    display: inline-block;
    margin-left: 18px;

}

li a {
    color: white;
    text-decoration: none;
    font-size: 10px;    
}

/* test */
/* per vedere se posso usarla come classe comune per il margine sopra */
.spacing {
    margin: 10px 0;}


/* HEADER */
header {
    height: 500px;
    background-color: #003366;
    background-image: url("../img/background-header.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 112% 110%;
}

/* logo */
.logo {
    width:18%;
}

.logo img {
    width: auto;
    height:50px;
}

/* col central navigation link container */

.central {
    width: 40%;
}
/* col right login container */

.central,
.right {
    line-height: 80px;
}

.right {
    float: right;
    width: 35%;
    text-align: right;
}

.noback-button {
    border: 1px solid white;
    border-radius: 5px;    
    padding: 8px 30px;
}

.green-button {    
    background-color: #00FF00;
    border-radius: 5px;
    padding:8px 5px;
}


