/* RESET */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    width:100%;
    display: block;
}


/* COMMON PARTS */
body {
    font-family: 'Roboto', sans-serif;   
}

.container {
    width:1024px;
    margin:auto;

    /* test */
    background-color: rgba(0,0,0,0.2);
}

/* test */
.spacing {
    margin: 10px 0;}


/* HEADER */
header {
    height: 500px;
    background-color: #003366;
    background-image: url("../img/background-header.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 112% 110%;
}

.logo img{
    width: auto;
    height:50px;
}